@model MusicSystem.Models.Playlist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<hr />
<table class="table">
    <tr>
        @{
            <td><h4>Songs</h4></td>
            /*
            * https://phrase.com/blog/posts/format-hhmmss-timespan-separators-culture-aware-manner/
            * **/
            TimeSpan time1 = TimeSpan.FromSeconds(@ViewBag.TotalTime);
            <td>Total Time: @time1.ToString(@"hh\:mm\:ss")</td>
            <td>Number of Songs: @ViewBag.TotalCount</td>
            <td><a asp-controller="Song" asp-action="Index">All Songs</a></td>
        }
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Song Title
            </th>
            <th>
                Album
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PlaylistSong ps in Model.PlaylistSongs)
        {
            <tr>
                <td>
                    <p>@ps.Song.Title</p>

                    <p style="color:darkgray;">By 
                    @{
                        /*
                        * https://www.codingame.com/playgrounds/213/using-c-linq---a-practical-overview/aggregate
                        */
                        @ps.Song.SongContributors.Select(sc => sc.Artist.Name).Aggregate((concat, value) => $"{concat}, {value}");
                    }
                    </p>
                </td>
                <td>
                    @ps.Song.Album.Title
                </td>
                <td>
                    @{
                        TimeSpan time2 = TimeSpan.FromSeconds(@ps.Song.DurationSeconds);
                        <p>@time2.ToString(@"hh\:mm\:ss")</p>
                    }                    
                </td>
                <td>
                    <form asp-action="RemoveFromPlaylist" method="post" asp-route-songid="@ps.Song.Id">
                        <input type="hidden" asp-for="@Model.Id" asp-route-id="Id" />
                        <input type="submit" value="Remove From Playlist" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">All Playlists</a>
</div>
